/* Document */
html {
    overflow-y: scroll;
}

.navbar-item,
a {
    color: white;
}

a.navbar-item:hover,
a:hover {
    background-color: transparent;
    color: #fcb93c;
}

/*F37335*/
a.navbar-item.is-active {
    color: #fcb93c;
    font-weight: 500;
}

.hero-foot {
    padding: 10px;
}

.hero-foot p {
    font-size: 1em;
}

/* Landing  */
#landing-page,
#contact-page,
#resume-page,
#aboutme-page,
#projects-page {
    background: #000;
}

h1.title {
    color: white;
    font-size: 4em;
}

h1.subtitle {
    color: white;
    font-size: 1.5em;
}

#brief-header {
    display: block;
}

.menu-card {
    padding: 1.75rem;
    background-color: rgba(47, 49, 51, .5);
}

i {
    padding-right: 15px;
}

/* About me */
#about-me {
    background: url("../images/black-wallpaper-black-and-white-casual-11392.jpg");
}

.tile.is-child h3 {
    color: #fcb93c;
}

.tile.is-child p {
    color: white;
}

.subtitle strong {
    color: #fcb93c;
    font-weight: 600;
}

/* Case Studies */

/* Resume */

/* Contact */
#contact-card.card {
    border-radius: 10px;
}

.card-image img {
    height: 500px;
    border-radius: 10px;
}