/* Document */
html {
    overflow-y: hidden;
}

/* Landing Page */

#landing-page {
    background: #000;
}

h1.title {
    color: white;
    font-size: 4em;
}

h1.subtitle {
    color: white;
    font-size: 2em;
}

#brief-header {
    display: block;
}

.card {
    padding: 1.5rem;
}